.content {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  font-size: 20px;
}

.dialogsItems .dialog {
  padding: 5px;
}

.dialogsItems .active {
  color: rgb(43, 118, 143);
  font-weight: bold;
 }

.messages {
  font-size: 15px;
}

.messages .message {
  padding: 10px;
}