.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "head head"
  "nav cont";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-content-profile {
  grid-area: cont;
  background-color: rgba(217, 217, 217, 0.291);
}